<ion-view>
    <ion-header-bar align-title="center" class="bar-stable">
        <div>
            <button class="button" ng-click="gotoHome()">Close</button>
        </div>
        <h1 class="title">Cauvery Associates</h1>
    </ion-header-bar>
    <div class="bar bar-subheader">
        <h2 class="title" ng-click="deleteEmployeesTable()">Settings</h2>
    </div>
    <ion-content class="padding has-header has-subheader has-footer show-scroll-bar">
        
        <span style="font-weight: bold">Employees</span>
        <br>
        <br>
        <button class="button button-small button-stable" style="border: 1px solid grey;margin-left: 7px" ng-click="addNewEmployee()">
            Add Employee
        </button> 
        <br>    
        <br>
        <div id="employeesTable" class="dataTable" style="margin-left: 7px; margin-bottom: 10px"> </div>
    
        <div ng-show="addingNewEmployee" style="max-width: 400px">
            <div class="item item-input-inset">
                <label >
                  <input type="text" ng-model="employeeName" placeholder="Enter Employee Name">
                </label>

                <label style="border-left: 1px solid grey;padding-left: 4px">
                  <input type="text" ng-model="employeeSalary" placeholder="Enter Employee Salary">
                </label>

                <button class="button button-small button-dark" style="right: 0;position: absolute;" 
                        ng-click="addEmployee(employeeName, employeeSalary)">
                  Add
                </button>
            </div>

        </div>
     <hr>
     <span style="font-weight: bold">Backup / Restore Database</span>
        
        <div class="row">

            <div class="col col-50">
                <button class="button button-small button-stable" style="border: 1px solid grey;margin-left: 7px" ng-click="takeBackup()">
                    Create Backup
                </button>                
            </div>
            
            <div class="col col-50" style="border-left: 1px solid grey">
                
                <input class="button button-small" style="line-height: 0px" type="file" id="myFileInput" accept=".json" />

                <button ng-id="file" class="button button-small button-stable" style="border: 1px solid grey;margin-left: 7px" ng-click="loadFromBackup()">
                    Restore
                </button>    
                <p ng-show="noFileError" style="color: #B22222">Please select Backup File</p>
            </div>

        </div>
    
        <hr>


    </ion-content>

    <div class="bar bar-footer row no-print " style="padding: 0;margin: 0">
        <div class="col col-50" style="padding: 0;margin: 1px">
            <button class="button button-dark button-full" ng-click="cancel()" style="margin: 2px">Cancel</button>
        </div>
        <div class="col" style="padding: 0;margin: 1px">
            <button class="button button-dark button-full" ng-click="save()" style="margin: 2px">Save</button>
        </div>
    </div>    

</ion-view>
